@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --background-white: #ffff;
    --background-red: #ff0037;
    --primary-blue: #0766ad;
    --blue-dark: #0D4C7C;
    --green-light: #c5e897;
    --green-dark: #9BBC6E;
    --black-light: #C0C0C0;
    --black-dark: #4E5656;
    --neutral-blue: #29adb2;
    --text-black: #3e4141;
    --text-white: #f3f3f3;
    --text-grey: #a7a7a7;
    --Desktop-Text-Heading1: 48px;
    --Desktop-Text-Heading2: 40px;
    --Desktop-Text-Heading3: 32px;
    --Desktop-Text-Heading4: 24px;
    --Common-Text-Subtitle: 20px;
    --Common-Text-Label: 16px;
    --Common-Text-Body1: 20px;
    --Common-Text-Body2: 16px;
    --Common-Text-Caption: 13px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    margin-top: 12px;
    margin-right: 24px;
    padding: 6px;
    right: 16px;
    scale: 1.2;
    color: var(--text-black);
    border: 1px solid var(--background-white);
    border-radius: 20%;

}

.close-btn:hover {
    background-color: var(--black-light);
}

img {
    width: 100%;
    display: block;
}

.product-detail {
    min-height: 100vh;
    background-color: var(--primary-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;

}

.product-div {
    margin: 1rem, 0;
    padding: 2rem, 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--background-white);
    border-radius: 6px;
    column-gap: 10px;
}

.product-div-left,
.product-div-right {
    padding: 16px;
}

.img-container img {
    width: 300px;
    margin: 0 auto;
}

.hover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.hover-container div img {
    width: 100px;
    padding: 6px;
    cursor: pointer;
}


.hover-container div:hover {
    border: 1px solid var(--primary-blue);
    border-radius: 6px;
    border-color: var(--primary-blue);
}

.product-div-right span {
    display: block;
}

.product-name {
    font-size: 26px;
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.product-code {
    font-size: 18px;
    color: var(--text-grey);
}

.product-price {
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}

.product-description {
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}

.btn-submit-groups button .fas {
    margin-right: 8px;
}

.add-cart-btn {
    background-color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
    color: var(--text-white);
}

.add-cart-btn:hover {
    background-color: var(--background-white);
    color: var(--primary-blue);
}

.add-wishlist-btn {
    background-color: var(--green-light);
    border: 2px solid var(--green-light);
    color: var(--primary-blue)
}

.add-wishlist-btn:hover {
    background-color: var(--background-white);
    border: 2px solid var(--green-light);
    color: var(--background-red);
}

.buy-now-btn {
    background-color: var(--background-red);
    border: 2px solid var(--background-red);
    color: var(--text-white);
}

.buy-now-btn:hover {
    background-color: var(--background-white);
    color: var(--background-red);
}

.button-quantity button {
    padding: 6px;
    margin-top: 16px;
    border-radius: 6px;

}

.button-quantity .increase {
    background-color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
    color: var(--text-white);

}

.button-quantity .increase:hover {
    background-color: var(--blue-dark);
    border: none;
    cursor: pointer;
}

.button-quantity .decrease {
    background-color: var(--text-grey);
    border: 2px solid var(--text-grey);
    color: var(--text-white);

}

.button-quantity .decrease:hover {
    background-color: var(--black-dark);
    border: none;
    cursor: pointer;
}

.button-quantity input {
    padding: 8px;
    width: 64px;
    font-size: var(--Common-Text-Body1);
    text-align: center;
    color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
    border-radius: 6px;
    margin: 8px;
}

.btn-submit-groups button {
    display: inline-block;
    margin-top: 22px;
    font-size: var(--Common-Text-Label);
    font-family: inherit;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 15px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media screen and (max-width: 992px) {
    .product-div {
        grid-template-columns: 100%;
    }

    .product-div-right {
        text-align: center;
    }

    .product-rating {
        justify-content: center;
    }

    .product-description {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px) {
    .btn-groups button {
        width: 100%;
        margin-bottom: 10px;
    }
}