@import "./root.css";

:root {
    --background-white: #ffff;
    --background-red: #ff0037;
    --primary-blue: #0766ad;
    --blue-dark: #0D4C7C;
    --green-light: #c5e897;
    --green-dark: #9BBC6E;
    --black-light: #C0C0C0;
    --black-dark: #4E5656;
    --neutral-blue: #29adb2;
    --text-black: #3e4141;
    --text-white: #f3f3f3;
    --text-grey: #a7a7a7;
    --Desktop-Text-Heading1: 48px;
    --Desktop-Text-Heading2: 40px;
    --Desktop-Text-Heading3: 32px;
    --Desktop-Text-Heading4: 24px;
    --Common-Text-Subtitle: 20px;
    --Common-Text-Label: 16px;
    --Common-Text-Body1: 20px;
    --Common-Text-Body2: 16px;
    --Common-Text-Caption: 13px;
}



.tools-page {
    margin: 16px 64px;
}

.tools-page .title {
    text-align: center;
    padding: 32px;
    color: var(--primary-blue);
    font-size: var(--Desktop-Text-Heading2);


}

.tools-page .container-content {
    display: flex;
    gap: 64px;
    text-align: center;
}



.colunm1 .content-info {
    background-color: transparent;
    font-size: var(--Common-Text-Body2);
    font-weight: 500;
    text-align: left;

}



.colunm2 .content-info {
    background-color: transparent;
    font-size: var(--Common-Text-Body2);
    text-align: left;
}

.toolbox {
    background: var(--black-light);
    border-radius: 6px;
    width: 300px;
    height: 300px;
    text-align: center;
    color: var(--primary-blue);
    align-items: center;
    font-size: var(--Desktop-Text-Heading4);
    margin-top: 20px;
    padding: 70px 20px;
}

button {
    background-color: var(--primary-blue);
    border: none;
    color: var(--text-white);
    border-radius: 6px;
    padding: 8px;
}

button:hover {
    background: var(--green-light);
    color: var(--text-black);
}

@media (max-width: 650px) {
    .tools-page .container-content {
        display: flex;
        flex-direction: column;
    }
}